<!DOCTYPE html>
<html lang="en" data-ng-app="ghostChat">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE-edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Ghost Chat</title>

		{% load compress %}
		{% load staticfiles %}

		{% if debug %}
		<link rel="stylesheet" media="all" href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" />
		<link rel="stylesheet" media="all" href="{% static 'lib/bootstrap-material-design/dist/css/material-wfont.css' %}" />
		{% else %}
		<link rel="stylesheet" media="all" href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" media="all" href="{% static 'lib/bootstrap-material-design/dist/css/material-wfont.min.css' %}" />
		{% endif %}

		{% compress css %}
		<link rel="stylesheet" media="all" href="{% static 'css/layout.css' %}" />
		<link rel="stylesheet" media="all" href="{% static 'css/login.css' %}" />
		{% endcompress %}

		<!--[if lt IE 9]>
		<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif] -->

		{% if debug %}
		<script media="all" src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
		<script media="all" src="{% static 'lib/angular/angular.js' %}"></script>
		<script media="all" src="{% static 'lib/angular-cookies/angular-cookies.js' %}"></script>
		<script media="all" src="{% static 'lib/angular-resource/angular-resource.js' %}"></script>
		<script media="all" src="{% static 'lib/angular-route/angular-route.js' %}"></script>
		<script media="all" src="{% static 'lib/angular-touch/angular-touch.js' %}"></script>
		<script media="all" src="{% static 'lib/angular-strap/dist/angular-strap.js' %}"></script>
		<script media="all" src="{% static 'lib/angular-strap/dist/angular-strap.tpl.js' %}"></script>
		{% else %}
		<script media="all" src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
		<script media="all" src="{% static 'lib/angular/angular.min.js' %}"></script>
		<script media="all" src="{% static 'lib/angular-cookies/angular-cookies.min.js' %}"></script>
		<script media="all" src="{% static 'lib/angular-resource/angular-resource.min.js' %}"></script>
		<script media="all" src="{% static 'lib/angular-route/angular-route.min.js' %}"></script>
		<script media="all" src="{% static 'lib/angular-touch/angular-touch.min.js' %}"></script>
		<script media="all" src="{% static 'lib/angular-strap/dist/angular-strap.min.js' %}"></script>
		<script media="all" src="{% static 'lib/angular-strap/dist/angular-strap.tpl.min.js' %}"></script>
		{% endif %}
	</head>
	<body data-ng-controller="ApplicationController">
		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
							<span class="sr-only">Toggle Navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#/">Ghost Chat</a><!-- TOOD: use angular as well? -->
					</div>
					<div id="navbar-links" class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li data-ng-if="user == null">
								<a href="#/login"> <!-- TODO: ui-router? -->
									Login
									<span class="glyphicon glyphicon-log-in"></span>
								</a>
							</li>
							<li data-ng-if="user">
								<button class="btn btn-default" type="button" data-bs-dropdown="loginDropdown">
									[[ user.username ]]
									<span class="caret"></span>
								</button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main data-ng-view>
		</main>
		<footer>
			<div class="container">
				<ul>
					<li>
						<a href="https://github.com/durandj/ghost-chat">Source</a>
					</li>
				</ul>
			</div>
		</footer>

		{% compress js %}
		<script media="all" src="{% static 'lib/autofill-event/src/autofill-event.js' %}"></script>

		<script media="all" src="{% static 'js/app.js' %}"></script>
		<script media="all" src="{% static 'js/constants.js' %}"></script>
		<script media="all" src="{% static 'js/controllers.js' %}"></script>
		<script media="all" src="{% static 'js/factories.js' %}"></script>
		{% endcompress %}
	</body>
</html>

